:root {
    --c-blue: #021146;
    --c-navy: #041186;
    --c-sandal: #F5F5F5;
    --c-white: #ffffff;
    --c-black: #000000;
    --c-ngtshade: rgb(57, 57, 28);
    --c-yellow: rgb(237, 237, 4);
    --c-green: rgb(4, 201, 53);
    --c-cement: #F4F4F4;
    --c-purple: #E4E0FD;
    --c-lightblue: #7264D5;
    --c-grey: #b9b8b8;
    --c-logoclr:#041186;
    --c-circleclr: #C4C4C4;

}